<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Abreve</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni1EAC</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern1.Alpha</key>
  <array>
    <string>Alpha</string>
    <string>Alphatonos</string>
  </array>
  <key>public.kern1.B</key>
  <array>
    <string>B</string>
    <string>uni1E02</string>
  </array>
  <key>public.kern1.C</key>
  <array>
    <string>C</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.Checyrillic</key>
  <array>
    <string>Checyrillic</string>
    <string>Dzhecyrillic</string>
    <string>Elcyrillic</string>
    <string>Emcyrillic</string>
    <string>Encyrillic</string>
    <string>IAcyrillic</string>
    <string>Icyrillic</string>
    <string>Iicyrillic</string>
    <string>Iicyrillic_grave</string>
    <string>Iishortcyrillic</string>
    <string>Pecyrillic</string>
    <string>Shacyrillic</string>
    <string>Yericyrillic</string>
    <string>Yicyrillic</string>
    <string>ucyrillic</string>
    <string>ushortcyrillic</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>uni1E0A</string>
  </array>
  <key>public.kern1.Djecyrillic</key>
  <array>
    <string>Djecyrillic</string>
    <string>Tshecyrillic</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>E</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>uni1EBA</string>
    <string>uni1EBC</string>
  </array>
  <key>public.kern1.Eta</key>
  <array>
    <string>Eta</string>
    <string>Iota</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Pi</string>
    <string>Iotadieresis</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
  </array>
  <key>public.kern1.Eth</key>
  <array>
    <string>Eth</string>
    <string>Dcroat</string>
  </array>
  <key>public.kern1.F</key>
  <array>
    <string>F</string>
    <string>uni1E1E</string>
  </array>
  <key>public.kern1.Fitacyrillic</key>
  <array>
    <string>Fitacyrillic</string>
    <string>Ocyrillic</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.Gecyrillic</key>
  <array>
    <string>Gecyrillic</string>
    <string>Gheupturncyrillic</string>
    <string>Gjecyrillic</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>H</string>
    <string>I</string>
    <string>M</string>
    <string>N</string>
    <string>g</string>
    <string>q</string>
    <string>y</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>gbreve</string>
    <string>Idotaccent</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>Hcircumflex</string>
    <string>Itilde</string>
    <string>ycircumflex</string>
    <string>Eng</string>
    <string>ygrave</string>
    <string>Ncommaaccent</string>
    <string>gcommaaccent</string>
    <string>uni1E40</string>
    <string>uni1EC8</string>
    <string>uni1ECA</string>
    <string>uni1EF5</string>
    <string>uni1EF7</string>
    <string>uni1EF9</string>
  </array>
  <key>public.kern1.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1.Kacyrillic</key>
  <array>
    <string>Kacyrillic</string>
    <string>Kjecyrillic</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>uni1ECC</string>
    <string>uni1ECE</string>
    <string>uni1ED8</string>
  </array>
  <key>public.kern1.Ohorn</key>
  <array>
    <string>Ohorn</string>
    <string>uni1EDA</string>
    <string>uni1EDC</string>
    <string>uni1EDE</string>
    <string>uni1EE0</string>
    <string>uni1EE2</string>
  </array>
  <key>public.kern1.Omega</key>
  <array>
    <string>Omega</string>
    <string>uni2126</string>
  </array>
  <key>public.kern1.Omicron</key>
  <array>
    <string>Omicron</string>
    <string>Theta</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>P</string>
    <string>uni1E56</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>uni1E60</string>
  </array>
  <key>public.kern1.Shchacyrillic</key>
  <array>
    <string>Shchacyrillic</string>
    <string>Tsecyrillic</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>uni1E6A</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Utilde</string>
    <string>Ubreve</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
  </array>
  <key>public.kern1.Ucyrillic</key>
  <array>
    <string>Ucyrillic</string>
    <string>Ushortcyrillic</string>
  </array>
  <key>public.kern1.Uhorn</key>
  <array>
    <string>Uhorn</string>
    <string>uni1EE8</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
  </array>
  <key>public.kern1.Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
    <string>Ydieresis</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ygrave</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>Zcaron</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>uni1EA3</string>
    <string>uni1EA5</string>
    <string>uni1EA7</string>
    <string>uni1EA9</string>
    <string>uni1EAB</string>
    <string>uni1EAF</string>
    <string>uni1EB1</string>
    <string>uni1EB3</string>
    <string>uni1EB5</string>
  </array>
  <key>public.kern1.alpha</key>
  <array>
    <string>alpha</string>
    <string>iota</string>
    <string>alphatonos</string>
    <string>iotatonos</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
  </array>
  <key>public.kern1.asciitilde</key>
  <array>
    <string>asciitilde</string>
    <string>tilde</string>
  </array>
  <key>public.kern1.bakayahli</key>
  <array>
    <string>bakayahli</string>
    <string>sixkayahli</string>
  </array>
  <key>public.kern1.becyrillic</key>
  <array>
    <string>becyrillic</string>
    <string>ocyrillic</string>
  </array>
  <key>public.kern1.c</key>
  <array>
    <string>c</string>
    <string>ccaron</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1.checyrillic</key>
  <array>
    <string>checyrillic</string>
    <string>elcyrillic</string>
    <string>emcyrillic</string>
    <string>encyrillic</string>
    <string>iacyrillic</string>
    <string>iicyrillic</string>
    <string>iicyrillic_grave</string>
    <string>iishortcyrillic</string>
    <string>pecyrillic</string>
  </array>
  <key>public.kern1.copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>public.kern1.d</key>
  <array>
    <string>d</string>
    <string>uni1E0B</string>
  </array>
  <key>public.kern1.e</key>
  <array>
    <string>e</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>emacron</string>
    <string>edotaccent</string>
    <string>ecaron</string>
    <string>uni1EBB</string>
    <string>uni1EBD</string>
    <string>uni1EBF</string>
    <string>uni1EC1</string>
    <string>uni1EC3</string>
    <string>uni1EC5</string>
  </array>
  <key>public.kern1.endash</key>
  <array>
    <string>endash</string>
    <string>emdash</string>
    <string>afii00208</string>
  </array>
  <key>public.kern1.epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern1.eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern1.fourkayahli</key>
  <array>
    <string>fourkayahli</string>
    <string>rakayahli</string>
  </array>
  <key>public.kern1.gecyrillic</key>
  <array>
    <string>gecyrillic</string>
    <string>gheupturncyrillic</string>
    <string>gjecyrillic</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>public.kern1.htakayahli</key>
  <array>
    <string>htakayahli</string>
    <string>sevenkayahli</string>
  </array>
  <key>public.kern1.hyphen</key>
  <array>
    <string>hyphen</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>uni1EC9</string>
  </array>
  <key>public.kern1.igrave</key>
  <array>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern1.ikayahli</key>
  <array>
    <string>ikayahli</string>
    <string>makayahli</string>
    <string>ookayahli</string>
    <string>zerokayahli</string>
  </array>
  <key>public.kern1.iogonek</key>
  <array>
    <string>iogonek</string>
    <string>uogonek</string>
  </array>
  <key>public.kern1.j</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
  </array>
  <key>public.kern1.kacyrillic</key>
  <array>
    <string>kacyrillic</string>
    <string>kjecyrillic</string>
  </array>
  <key>public.kern1.l</key>
  <array>
    <string>l</string>
    <string>lacute</string>
  </array>
  <key>public.kern1.m</key>
  <array>
    <string>m</string>
    <string>uni1E41</string>
  </array>
  <key>public.kern1.n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
    <string>nacute</string>
    <string>ncaron</string>
  </array>
  <key>public.kern1.ninekayahli</key>
  <array>
    <string>ninekayahli</string>
    <string>wakayahli</string>
  </array>
  <key>public.kern1.o</key>
  <array>
    <string>o</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>uni1ECF</string>
    <string>uni1ED1</string>
    <string>uni1ED3</string>
    <string>uni1ED5</string>
    <string>uni1ED7</string>
  </array>
  <key>public.kern1.ohorn</key>
  <array>
    <string>ohorn</string>
    <string>uni1EDB</string>
    <string>uni1EDD</string>
    <string>uni1EDF</string>
    <string>uni1EE1</string>
  </array>
  <key>public.kern1.omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern1.omicron</key>
  <array>
    <string>omicron</string>
    <string>omicrontonos</string>
  </array>
  <key>public.kern1.p</key>
  <array>
    <string>p</string>
    <string>uni1E57</string>
  </array>
  <key>public.kern1.periodcentered</key>
  <array>
    <string>periodcentered</string>
    <string>anoteleia</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>uni1E61</string>
  </array>
  <key>public.kern1.semicolon</key>
  <array>
    <string>semicolon</string>
    <string>uni037E</string>
  </array>
  <key>public.kern1.shchacyrillic</key>
  <array>
    <string>shchacyrillic</string>
    <string>tsecyrillic</string>
  </array>
  <key>public.kern1.t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni1E6B</string>
  </array>
  <key>public.kern1.u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>utilde</string>
    <string>ubreve</string>
    <string>uni1EE7</string>
  </array>
  <key>public.kern1.uhorn</key>
  <array>
    <string>uhorn</string>
    <string>uni1EE9</string>
    <string>uni1EEB</string>
    <string>uni1EED</string>
    <string>uni1EEF</string>
  </array>
  <key>public.kern1.uni0400</key>
  <array>
    <string>uni0400</string>
    <string>Iecyrillic</string>
    <string>Iocyrillic</string>
  </array>
  <key>public.kern1.uni0450</key>
  <array>
    <string>uni0450</string>
    <string>iecyrillic</string>
    <string>iocyrillic</string>
  </array>
  <key>public.kern1.uni1EA1</key>
  <array>
    <string>uni1EA1</string>
    <string>uni1EAD</string>
    <string>uni1EB7</string>
  </array>
  <key>public.kern1.uni1EA4</key>
  <array>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
  </array>
  <key>public.kern1.uni1EAE</key>
  <array>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
  </array>
  <key>public.kern1.uni1EB8</key>
  <array>
    <string>uni1EB8</string>
    <string>uni1EC6</string>
  </array>
  <key>public.kern1.uni1EB9</key>
  <array>
    <string>uni1EB9</string>
    <string>uni1EC7</string>
  </array>
  <key>public.kern1.uni1ECD</key>
  <array>
    <string>uni1ECD</string>
    <string>uni1ED9</string>
  </array>
  <key>public.kern1.uni1ED0</key>
  <array>
    <string>uni1ED0</string>
    <string>uni1ED2</string>
    <string>uni1ED4</string>
  </array>
  <key>public.kern1.upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilontonos</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
  </array>
  <key>public.kern1.vecyrillic</key>
  <array>
    <string>vecyrillic</string>
    <string>zecyrillic</string>
  </array>
  <key>public.kern1.w</key>
  <array>
    <string>w</string>
    <string>wcircumflex</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern1.z</key>
  <array>
    <string>zcaron</string>
    <string>z</string>
    <string>zacute</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>uni1EA2</string>
  </array>
  <key>public.kern2.Aogonek</key>
  <array>
    <string>Aogonek</string>
    <string>uni1EA0</string>
    <string>uni1EAC</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>p</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Thorn</string>
    <string>Dcaron</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>Imacron</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Idotaccent</string>
    <string>Hcircumflex</string>
    <string>Itilde</string>
    <string>Eng</string>
    <string>Kcommaaccent</string>
    <string>Ncommaaccent</string>
    <string>Rcommaaccent</string>
    <string>uni1E02</string>
    <string>uni1E0A</string>
    <string>uni1E1E</string>
    <string>uni1E40</string>
    <string>uni1E56</string>
    <string>uni1E57</string>
    <string>uni1EBA</string>
    <string>uni1EBC</string>
    <string>uni1EC8</string>
    <string>uni1ECA</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern2.Djecyrillic</key>
  <array>
    <string>Djecyrillic</string>
    <string>Tshecyrillic</string>
  </array>
  <key>public.kern2.E.sc</key>
  <array>
    <string>E.sc</string>
    <string>I.sc</string>
  </array>
  <key>public.kern2.Escyrillic</key>
  <array>
    <string>Escyrillic</string>
    <string>Ie.ukran</string>
  </array>
  <key>public.kern2.Etatonos</key>
  <array>
    <string>Etatonos</string>
    <string>Iotatonos</string>
  </array>
  <key>public.kern2.Eth</key>
  <array>
    <string>Eth</string>
    <string>Dcroat</string>
  </array>
  <key>public.kern2.Fitacyrillic</key>
  <array>
    <string>Fitacyrillic</string>
    <string>Ocyrillic</string>
  </array>
  <key>public.kern2.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2.Lcommaaccent</key>
  <array>
    <string>Lcommaaccent</string>
    <string>uni1EB8</string>
    <string>uni1EC6</string>
  </array>
  <key>public.kern2.O</key>
  <array>
    <string>O</string>
    <string>Q</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Ohorn</string>
    <string>uni1ECC</string>
    <string>uni1ECE</string>
    <string>uni1ED8</string>
    <string>uni1EDA</string>
    <string>uni1EDC</string>
    <string>uni1EDE</string>
    <string>uni1EE0</string>
    <string>uni1EE2</string>
  </array>
  <key>public.kern2.Omega</key>
  <array>
    <string>Omega</string>
    <string>uni2126</string>
  </array>
  <key>public.kern2.Omicron</key>
  <array>
    <string>Omicron</string>
    <string>Theta</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>uni1E60</string>
  </array>
  <key>public.kern2.Scedilla</key>
  <array>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>uni1E6A</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Utilde</string>
    <string>Ubreve</string>
    <string>Uhorn</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
    <string>uni1EE8</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
    <string>uni1EF0</string>
  </array>
  <key>public.kern2.Ucyrillic</key>
  <array>
    <string>Ucyrillic</string>
    <string>Ushortcyrillic</string>
  </array>
  <key>public.kern2.Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
    <string>Ydieresis</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ygrave</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern2.Z</key>
  <array>
    <string>Zcaron</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>uni1EA3</string>
    <string>uni1EA5</string>
    <string>uni1EA7</string>
    <string>uni1EA9</string>
    <string>uni1EAB</string>
    <string>uni1EAF</string>
    <string>uni1EB1</string>
    <string>uni1EB3</string>
    <string>uni1EB5</string>
  </array>
  <key>public.kern2.alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>public.kern2.asciitilde</key>
  <array>
    <string>asciitilde</string>
    <string>tilde</string>
  </array>
  <key>public.kern2.b</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>k</string>
    <string>hcircumflex</string>
    <string>uni1E03</string>
  </array>
  <key>public.kern2.bakayahli</key>
  <array>
    <string>bakayahli</string>
    <string>sixkayahli</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>c</string>
    <string>e</string>
    <string>o</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ccaron</string>
    <string>cacute</string>
    <string>emacron</string>
    <string>edotaccent</string>
    <string>ecaron</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>ohorn</string>
    <string>uni1EBB</string>
    <string>uni1EBD</string>
    <string>uni1EBF</string>
    <string>uni1EC3</string>
    <string>uni1EC5</string>
    <string>uni1ECF</string>
    <string>uni1ED1</string>
    <string>uni1ED3</string>
    <string>uni1ED5</string>
    <string>uni1ED7</string>
    <string>uni1EDB</string>
    <string>uni1EDD</string>
    <string>uni1EDF</string>
    <string>uni1EE1</string>
  </array>
  <key>public.kern2.calyakayahli</key>
  <array>
    <string>calyakayahli</string>
    <string>calyaplophukayahli</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
    <string>uni2117</string>
  </array>
  <key>public.kern2.d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
  </array>
  <key>public.kern2.dakayahli</key>
  <array>
    <string>dakayahli</string>
    <string>onekayahli</string>
  </array>
  <key>public.kern2.emcyrillic</key>
  <array>
    <string>emcyrillic</string>
    <string>encyrillic</string>
    <string>kacyrillic</string>
    <string>kjecyrillic</string>
    <string>pecyrillic</string>
  </array>
  <key>public.kern2.endash</key>
  <array>
    <string>endash</string>
    <string>emdash</string>
    <string>afii00208</string>
  </array>
  <key>public.kern2.epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern2.eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern2.f</key>
  <array>
    <string>f</string>
    <string>uniFB01</string>
  </array>
  <key>public.kern2.fivekayahli</key>
  <array>
    <string>fivekayahli</string>
    <string>ngakayahli</string>
  </array>
  <key>public.kern2.fourkayahli</key>
  <array>
    <string>fourkayahli</string>
    <string>rakayahli</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
  </array>
  <key>public.kern2.gakayahli</key>
  <array>
    <string>gakayahli</string>
    <string>shyakayahli</string>
  </array>
  <key>public.kern2.gecyrillic</key>
  <array>
    <string>gecyrillic</string>
    <string>gheupturncyrillic</string>
    <string>gjecyrillic</string>
  </array>
  <key>public.kern2.htakayahli</key>
  <array>
    <string>htakayahli</string>
    <string>sevenkayahli</string>
  </array>
  <key>public.kern2.hyphen</key>
  <array>
    <string>hyphen</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern2.i</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>igrave</string>
    <string>uni1EC9</string>
  </array>
  <key>public.kern2.iacute</key>
  <array>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern2.iicyrillic</key>
  <array>
    <string>iicyrillic</string>
    <string>iicyrillic_grave</string>
    <string>iishortcyrillic</string>
  </array>
  <key>public.kern2.iota</key>
  <array>
    <string>iota</string>
    <string>iotatonos</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
  </array>
  <key>public.kern2.iucyrillic</key>
  <array>
    <string>iucyrillic</string>
    <string>njecyrillic</string>
  </array>
  <key>public.kern2.j</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
  </array>
  <key>public.kern2.l</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>lacute</string>
  </array>
  <key>public.kern2.m</key>
  <array>
    <string>m</string>
    <string>uni1E41</string>
  </array>
  <key>public.kern2.makayahli</key>
  <array>
    <string>makayahli</string>
    <string>ookayahli</string>
    <string>zerokayahli</string>
  </array>
  <key>public.kern2.mu</key>
  <array>
    <string>mu</string>
    <string>Beta</string>
    <string>Epsilon</string>
    <string>Gamma</string>
    <string>Eta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Iotadieresis</string>
  </array>
  <key>public.kern2.n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>kgreenlandic</string>
  </array>
  <key>public.kern2.ninekayahli</key>
  <array>
    <string>ninekayahli</string>
    <string>wakayahli</string>
  </array>
  <key>public.kern2.oekayahli</key>
  <array>
    <string>oekayahli</string>
    <string>yakayahli</string>
  </array>
  <key>public.kern2.omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern2.omicron</key>
  <array>
    <string>omicron</string>
    <string>sigma</string>
    <string>omicrontonos</string>
  </array>
  <key>public.kern2.periodcentered</key>
  <array>
    <string>periodcentered</string>
    <string>anoteleia</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>uni1E61</string>
  </array>
  <key>public.kern2.semicolon</key>
  <array>
    <string>semicolon</string>
    <string>uni037E</string>
  </array>
  <key>public.kern2.shacyrillic</key>
  <array>
    <string>shacyrillic</string>
    <string>softsigncyrillic</string>
    <string>vecyrillic</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni1E6B</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>utilde</string>
    <string>ubreve</string>
    <string>uhorn</string>
    <string>uni1EE7</string>
    <string>uni1EE9</string>
    <string>uni1EEB</string>
    <string>uni1EED</string>
    <string>uni1EEF</string>
  </array>
  <key>public.kern2.ucyrillic</key>
  <array>
    <string>ucyrillic</string>
    <string>ushortcyrillic</string>
  </array>
  <key>public.kern2.uni0400</key>
  <array>
    <string>uni0400</string>
    <string>Becyrillic</string>
    <string>Dzhecyrillic</string>
    <string>Emcyrillic</string>
    <string>Encyrillic</string>
    <string>Ercyrillic</string>
    <string>Gecyrillic</string>
    <string>Gheupturncyrillic</string>
    <string>Gjecyrillic</string>
    <string>IUcyrillic</string>
    <string>Icyrillic</string>
    <string>Iecyrillic</string>
    <string>Iicyrillic</string>
    <string>Iicyrillic_grave</string>
    <string>Iishortcyrillic</string>
    <string>Iocyrillic</string>
    <string>Kacyrillic</string>
    <string>Kjecyrillic</string>
    <string>Njecyrillic</string>
    <string>Pecyrillic</string>
    <string>Shacyrillic</string>
    <string>Shchacyrillic</string>
    <string>Softsigncyrillic</string>
    <string>Tsecyrillic</string>
    <string>Vecyrillic</string>
    <string>Yericyrillic</string>
    <string>Yicyrillic</string>
    <string>ercyrillic</string>
  </array>
  <key>public.kern2.uni0450</key>
  <array>
    <string>uni0450</string>
    <string>ecyrillic</string>
    <string>escyrillic</string>
    <string>iecyrillic</string>
    <string>iocyrillic</string>
    <string>ocyrillic</string>
  </array>
  <key>public.kern2.uni1EA1</key>
  <array>
    <string>uni1EA1</string>
    <string>uni1EAD</string>
    <string>uni1EB7</string>
  </array>
  <key>public.kern2.uni1EA4</key>
  <array>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
  </array>
  <key>public.kern2.uni1EAE</key>
  <array>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
  </array>
  <key>public.kern2.uni1EB9</key>
  <array>
    <string>uni1EB9</string>
    <string>uni1EC7</string>
  </array>
  <key>public.kern2.uni1ECD</key>
  <array>
    <string>uni1ECD</string>
    <string>uni1ED9</string>
  </array>
  <key>public.kern2.uni1ED0</key>
  <array>
    <string>uni1ED0</string>
    <string>uni1ED4</string>
  </array>
  <key>public.kern2.upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilontonos</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
  </array>
  <key>public.kern2.w</key>
  <array>
    <string>w</string>
    <string>wcircumflex</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>ycircumflex</string>
    <string>ygrave</string>
    <string>uni1EF7</string>
    <string>uni1EF9</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>zcaron</string>
    <string>z</string>
    <string>zacute</string>
    <string>zdotaccent</string>
  </array>
</dict>
</plist>
